body {
margin: 0px;
font-family: Arial;
}

#header {
    background-color: #39e4c2;
    border: 1px solid #39e4c2;
    padding: 20px;
    text-align: center;    
}

#header > div:nth-child(1) {
    font-size: 30px;
    margin-bottom: 10px;
}

#menu ul {
    background-color: black;
    padding: 0;
    margin: 0;    
}

#menu ul::after {
    display: block;
    content:"";
    clear: both;
}

#menu ul li {
    float: left;
    list-style-type: none;
}
#menu ul li a {
    display: inline-block; 
    text-decoration: none;
    padding: 12px 20px;
    color: white;
}

#menu ul li a:hover {
    background-color: #ddd;
    color: black;
}

#main::after {
    display: block;
    content: "";
    clear: both;

}

#main #side {
    box-sizing: border-box;
    padding: 10px;
    float: left;
    width: 30%;

}

#main #side img {
    width: 100%;
}

#main #content {
    box-sizing: border-box;
    padding: 10px;      /* Thêm khoảng đệm */
    float: left;        /* Đẩy khối này dạt sang trái để đứng cạnh cột Side */
    width: 70%;         /* Chiếm 70% chiều rộng còn lại */
}

#main #content p:last-child {
    text-align: right;
}

#footer{
    background-color: #ddd;
    padding: 15px;
    text-align: center;
}