#test {
    background-color: green;
    width: 100px;
    height: 100px;
    position: relative; 
    /*  giữ lại khoảng trống ban đầu của nó ù có di chuyển */

    left: 0;
    animation-name: move_right;
    animation-duration: 3s;
    animation-iteration-count: infinite;

}
@keyframes move_right {
    0% {left: 0px;}
    100% {left: 500px;}
    
}