body {
    background-image: url(../images/bg.jpg);
    background-position: center;
    background-attachment: fixed;
    
}

#khungtrang {
    margin: auto;
    width: 90%;
    background-color: #f0fff0;
    opacity: 0.8;
    border: thin silver solid; /* đường viền hỏ*/
    border-radius: 10px;
    padding: 20px;
}

p {
    font-size: 25pt;
    font-weight: bold;
    color: green;
    text-shadow: 3px 3px 3px darkgray;
}