a {
    display: inline-block;
    border: 1px solid #73ad21;
    background-color: #73ad21;
    padding: 10px 12px;
    box-shadow: 2px 2px 5px #6c6969;
    text-decoration: none;
    border-radius: 3px;
    color:white;
}
a:hover {
    border: 1px solid #90d331;
    background-color: #90d331;
}

a:active {
    border: 1px solid #669f15;
    background-color: #669f15;
}