/* ĐƯA MÀU NỀN #ffecce RA BODY ĐỂ BAO TRỌN CẢ TRANG */
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    background-color: #ffecce; 
    margin: 0;
    padding: 0;
}

#main {
    width: 1000px;
    margin: 0 auto;
    background-color: transparent; 
    overflow: hidden; /* Giữ layout không bị vỡ khi co giãn xuống */
}

#head {
    height: 100px;
    background-color: #ffffff;
    border: 1px solid #cdcdcd;
    margin-bottom: 2px; 
}

#head-link {
    height: 30px;
    line-height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #cdcdcd;
    background-color: #00aa00; 
    color: white;
    margin-bottom: 2px;
    clear: both;
}

#head-link a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

#head-link a:hover {
    text-decoration: underline;
    color: #d4d2ce;
}

#left {
    width: 150px;
    min-height: 400px;
    float: left;
    border: 1px solid #cdcdcd;
    background-color: transparent; 
      box-sizing: border-box;
    margin-bottom: 2px;
}

.menu-left {
    background-color: #ffffff;
    border: 1px solid #dcdcdc;
    
    margin: 5px;
    padding-bottom: 5px;
}

.menu-title {
    font-weight: bold;
    text-align: center;
    padding: 5px;
    margin-top: 5px;
}

.menu-left ul {
    list-style-image: url("../images/bullet_green.png");
    padding-left: 25px;
    margin: 5px 0;
}

.menu-left ul li {
    padding: 3px 0;
}

.menu-left ul li a {
    text-decoration: none;
    color: #333;
}

.menu-left ul li a:hover {
    color: #009900;
}

#content {
    width: 606px; 
    min-height: 400px;
    float: left;
    border: 1px solid #cdcdcd;
    margin: 0 2px 2px 2px; 
    background-color: #ffffff; 
    box-sizing: border-box; /* Bao gồm luôn viền vào kích thước 606px */
    padding: 2px; /* Dành ra 2px lề trong để viền sản phẩm không dính chặt vào viền xám ngoài */
}

/* Chiều rộng khả dụng bên trong = 606 - 2(viền) - 4(padding) = 600px */
.san-pham {
    width: 296px; /* Chiều rộng khung */

    float: left;
    margin: 2px; /* Lề cách nhau 2px. 296+2+2 = 300px/sản phẩm. 2 sản phẩm là đúng 600px */
    text-align: center;
    border: 1px solid #99cc99; 
    background-color: #ffffff;
    border-radius: 6px; 
    overflow: hidden; 
    box-sizing: border-box; 
}

.san-pham img {
    display: block; 
    width: 296;
    height: 240px;
}

.san-pham p {
    color: blue;               
    font-weight: bold;         
    font-size: 13px;           
    margin: 0;                 
    padding: 8px 0;            
    background-color: #f0fff0; 
    border-top: 1px solid #99cc99; 
}

#right {
    border: 1px solid #cdcdcd;
    width: 234px;
    min-height: 400px;
    float: right;
    background-color: transparent; 
    margin-bottom: 2px;
}

#footer {
    height: 30px;
    clear: both;
    border: 1px solid #cdcdcd;
    background-color: #ffff66;
    margin-top: 2px;
}