#menu {
    width: 320px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    /* overflow: hidden;  */
    /* clearrrr  */
}

#menu a {
    display: block;
    float: left;
    width: 130px;
    padding: 12px;
    background-color: #8ad385;
    color: black;
    text-decoration: none;
    font-weight: bold;
    margin: 1px;  /* cái diền màu trắng */
}

#menu a:hover {
    background-color: #cde2cd;
}