#menu{
    width: 500px;
}

#menu a{
    display: block;
    height: 40px;

    background-image: url("/BuoiTH2/baitap/images/hinh3.jpg"); 
    background-color: #8b8c90;
    background-repeat: no-repeat;

    padding-top: 10px;
    padding-left: 40px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-style: 20px;

}

#menu a:hover {
    background-image: url("/BuoiTH2/baitap/images/hinh\ 4.jpg");
}