#test {
    background-color: green;
    width: 50px;
    height: 50px;
    position: relative; 
    /*  giữ lại khoảng trống ban đầu của nó ù có di chuyển */

    top: 0;
    left: 0;
    animation-name: move;
    animation-duration: 10s;
    animation-iteration-count: infinite;

}
@keyframes move {
    0% {
        top: 0;
        left: 0px;
        background-color: blue;
    }
    10% {
        top: 0;
        left: 400px;
        background-color: red;
    }

    40% {
        top: 200px;
        left: 400px;
        background-color: green;
    }
    100% {top: 0;
        left: 0;
        background-color: blue;}
    
}